{% extends "base.html" %}
{% block title %}AuctionTracker Chart{% endblock %}

{% block content %}
<canvas id="myChart"></canvas>
<script>

  var auctionyear = {{auctionyear|safe}};
  var price = {{price|safe}};
  var model_name = {{model_name|tojson}};

  const labels = auctionyear;

  const data = {
    labels: auctionyear,
    datasets: [
        {
          label: model_name,
          data: price,
          fill: true,
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 5,
          tension: 0.2
        }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      plugins: {
        legend: {
          labels: {
            font: {
              size: 20
            }
          }
        }
      },
      responsive: true,
      scales: {
        x: {
          title: {
            display: true,
            text: 'Auction Year',
            padding: 10,
            font: {
              size: 18
            }
          },
          grid: {
            display: false,
            drawTicks: true
          }
        },
        y: {
          title: {
            display: true,
            text: 'Median Sale Price',
            padding: 18,
            font: {
              size: 18
            }
          },
          grid: {
            display: false,
            drawTicks: true
          },
          ticks: {
            // Include a dollar sign in the ticks
            callback: function(value, index, ticks) {
              return '$' + value;
            }
          }
        }
      }
    }
  };
</script>

<script>
  Chart.defaults.font.size = 14;
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
{% endblock %}