{% extends "base.html" %}
{% block title %}AuctionTracker Chart{% endblock %}

{% block content %}
<canvas id="myChart"></canvas>
<script>
  var showDataManual = false;
  var showDataLow = false;
</script>

{% if model %}
  {% if listings_manual > 25 %}
    <button onclick="addDatasetManual()">Manual transmission</button>
  {% endif %}
  {% if listings_low_mileage > 25 %}
    <button onclick="addDatasetLow()">Low mileage</button>
  {% endif %}
{% endif %}

<script>
  var auctionyear = {{auctionyear|safe}};
  var price = {{price|safe}};

  {% if model %}
  var make = {{model|tojson}};
  var auctionyear_manual = {{auctionyear_manual|safe}};
  var price_manual = {{price_manual|safe}};
  var auctionyear_low_mileage = {{auctionyear_low_mileage|safe}};
  var price_low_mileage = {{price_low_mileage|safe}};
  {% else %}
  var make = {{make|tojson}};
  {% endif %}

  const labels = auctionyear;

  const data = {
    labels: auctionyear,
    datasets: [
        {
          label: make + ' - All',
          data: price,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 5,
          tension: 0.2
        }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      plugins: {
        legend: {
          labels: {
            font: {
              size: 20
            }
          }
        }
      },
      responsive: true,
      scales: {
        x: {
          title: {
            display: true,
            text: 'Auction Year',
            padding: 10,
            font: {
              size: 18
            }
          },
          grid: {
            display: false,
            drawTicks: true
          }
        },
        y: {
          title: {
            display: true,
            text: 'Median Sale Price',
            padding: 18,
            font: {
              size: 18
            }
          },
          grid: {
            display: false,
            drawTicks: true
          },
          ticks: {
            // Include a dollar sign in the ticks
            callback: function(value, index, ticks) {
              return '$' + value;
            }
          }
        }
      }
    }
  };
</script>

<script>
  Chart.defaults.font.size = 14;
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

  function addDatasetManual(){
    const newDataset = {
      label: 'Manuals Only',
      data: price_manual,
      fill: false,
      borderColor: 'rgb(75, 192, 0)',
      borderWidth: 5,
      tension: 0.2
    };
    if (showDataManual == false) {
      myChart.data.datasets.push(newDataset);
      myChart.update();
    }
    showDataManual = true;
  };

  function addDatasetLow(){
    const newDataset1 = {
      label: 'Low Miles Only',
      data: price_low_mileage,
      fill: false,
      borderColor: 'rgb(75, 0, 192)',
      borderWidth: 5,
      tension: 0.2
    };
    if (showDataLow == false) {
      myChart.data.datasets.push(newDataset1);
      myChart.update();
    }
    showDataLow = true;
  };
</script>
<div class="container-lg my-4">
  <form>
    <label for="model">Update chart with a specific {{ make }}:</label><p><p>
    <select name="model" id="model" onchange="document.location.href = 'chart?make={{ make }}&model=' + this.value">
    <option id="select" value="select" disabled="" selected="">Select a model</option>
    {% for model_name in dropdown_data %}
    <option value="{{ model_name }}">{{ model_name }}</option>
    {% endfor %}
    </select>
  </form>
</div>
<div class="container-lg my-4">
  {% if model %}
  Price change since {{ supporting_data[0][0] }}: {% if increase > 0 %}+{% else %}{% endif %}{{ increase }}%<br>
  Rank: #{{ increase_rank }} of {{ models_num }} models<p><p>
  Average views per auction: {{ views }}<br>
  Rank for views: #{{ views_rank }} of {{ models_num }}<p><p>
  Average comments per auction: {{ comments }}<br>
  Rank for comments: #{{ comments_rank }} of {{ models_num }}<p><p>
  {% endif %}
  <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Auction Year</th>
        <th scope="col">Auctions: {{ model }} - All</th>
    </tr>
    </thead>
    <tbody>
      {% for item in supporting_data %}
      <tr>
          <th scope="row">{{ item[0] }}</th>
          <td>{{ item[1] }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}