{% extends "base.html" %}
{% block title %}AuctionTracker - Home{% endblock %}

{% block content %}
<div class="container-lg my-4"> 
    <div class="p-5 mb-4 bg-light border rounded-3">
        <h1>Tracking {{ listings }} completed auctions from Bring a Trailer.</h1>
        <p class="lead">Get detailed pricing charts for {{ makes }} vehicle makes and {{ models }} models. Last updated November 10, 2022.</p>
    </div>
</div>

<canvas id="myChart"></canvas>

<script>
  var auctionperiod = {{auctionperiod|safe}};
  var price = {{price|safe}};
  var listingcount = {{listingcount|safe}};

  const labels = auctionperiod;

  const data = {
    labels: auctionperiod,
    datasets: [
        {
          label: 'All BaT Auctions (since January 2016)',
          data: price,
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 5,
          tension: 0.5
        }
    ]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      plugins: {
        tooltip: {
          callbacks: {
            label: ((context) => {
              return ` Median price: $${context.dataset.data[context.dataIndex]} based on ${listingcount[context.dataIndex]} listings`;
            })
          }
        },
        legend: {
          labels: {
            font: {
              size: 20
            }
          }
        }
      },
      responsive: true,
      scales: {
        x: {
          title: {
            display: true,
            text: 'Auction Month',
            padding: 10,
            font: {
              size: 18
            }
          },
          grid: {
            display: false,
            drawTicks: true
          }
        },
        y: {
          title: {
            display: true,
            text: 'Median Sale Price (USD)',
            padding: 18,
            font: {
              size: 18
            }
          },
          grid: {
            display: false,
            drawTicks: true
          },
          ticks: {
            // Include a dollar sign in the ticks
            callback: function(value, index, ticks) {
              return '$' + value;
            }
          }
        }
      }
    }
  };
</script>

<script>
  Chart.defaults.font.size = 14;
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

<div class="container-lg my-4"> 
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="makes" class="btn btn-lg btn-primary m-5" role="button">Choose a Vehicle Make</a>
            <a href="topmovers" class="btn btn-lg btn-secondary m-5" role="button">See Top Price Movers</a>
        </div>
    </div>
</div>
{% endblock %}